// src/components/Skills/index.scss
.skills {
  h2 {
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: "Helvetica";
    color: #fff;
    margin-top: 10px;
  }
  .tech-tag {
    color: #d7a86e;
  }
  h3 {
    font-size: 20px;
    a {
      text-decoration: none;
      color: #d7a86e;
    }
  }
}
// .skills-chart{
// }

.canvas {
  width: 50%;
  height: 85%;
  position: absolute;
  right: 15px;
  top: 10%;
  bottom: -15%;
  overflow: hidden;
  overflow-wrap: break-word;

  &:hover {
    animation-play-state: paused;
  }
}
