// src/components/Layout/index.scss
.App {
  display: flex;
  min-height: 100vh;
  background: #0b0e14;
}

.main-content {
  flex: 1;
  margin-left: 60px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-left: 0;
    padding-bottom: 65px; // Space for bottom dock
  }
}

.tags {
  color: #ffebc1;
  opacity: 0.3;
  position: absolute;
  font-family: "La Belle Aurore";
  font-size: 18px;
  pointer-events: none;

  &.top-tags {
    top: 30px;
    left: 40px;
  }
  &.bottom-tags {
    bottom: 30px;
    left: 40px;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  z-index: 2;
}
