// src/components/Layout/index.scss
.App {
  display: flex;
  min-height: 90vh;

  @media (max-width: 768px) {
    height: 100%;
  }
}

.main-content {
  flex: 1;
  margin-left: 60px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-left: 0;
    padding-bottom: 0;
  }
}
.content-wrapper {
  width: 100%;
  max-width: 1200px;
  z-index: 2;
  @media (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tags {
  color: #ffebc1;
  opacity: 0.4;
  position: absolute;
  font-family: "La Belle Aurore";
  font-size: 18px;
  pointer-events: none;

  &.top-tags {
    top: 30px;
    left: 40px;
  }
  &.bottom-tags {
    bottom: 30px;
    left: 40px;
  }
}

.container {
  width: 100%;
  will-change: contents;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.home-page,
.about-page,
.skills-page,
.contact-page {
  top: 15%;
  @media (max-width: 768px) {
    top: 10%;
  }
}

.flex-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px;
  }
}

.text-zone {
  flex: 1;
  margin-left: 7%;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
  }
  h1 {
    font-size: clamp(40px, 8vw, 65px);
    font-family: "Coolvetica";
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
    img {
      width: 45px;
      margin: 0 0 0 10px;
      @media (max-width: 768px) {
        width: 35px;
      }
    }

    &:before {
      content: "<h1>";
      font-family: "La Belle Aurore", cursive;
      color: #ffebc1;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:after {
      content: "<h1/>";
      font-family: "La Belle Aurore", cursive;
      color: #ffebc1;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  p {
    text-align: initial;
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

// .contact-page
// .about-page,
.text-textttt {
  .text-zone {
    text-align: left;
    position: absolute;
    // left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: "Coolvetica";
      color: #fff;
      font-weight: 400;
      margin-top: 20px;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &:before {
        content: "<h1>";
        font-family: "La Belle Aurore", cursive;
        color: #ffebc1;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }
      &:after {
        content: "<h1/>";
        font-family: "La Belle Aurore", cursive;
        color: #ffebc1;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      text-align: initial;
      font-size: 14px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }
  .text-animate-hover {
    &:hover {
      color: #ffebc1;
    }
  }
}
