.home-page {
    .text-zone{
        text-align: left;
        position: absolute;
        left: 4%;
        top: 1%;
        transform: translateY(-50);
        width: 50%;
        max-height: 90%;
    }
    h1{
        color: #fff;
        font-size: 50px;
        margin-top: 8%;
        margin-left: 8.7%;
        font-family: Coolvetica;
        font-weight: 400;

        &::before{
            content: "<h1>";
            font-family: La Belle Aurore;
            color: #FFEBC1;
            font-size: 18px;
            top: 7%;
            left: 7.7%;
            position: absolute;
            margin-top: 0;
            opacity: 0.7;
        }

        &::after{
            content: "<h1/>";
            font-family: La Belle Aurore;
            color: #FFEBC1;
            font-size: 18px;
            position: absolute;
            margin-top: 30px;
            margin-left: 10px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
        }

        img{
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2{
        color: #FFF;
        margin-top: 15px;
        margin-left: 13%;
        font-weight: 500;
        font-size: 18.5px;
        font-family: sans-serif;
        letter-spacing: 1px;
        animation: fadeIn 1.8s backwards;

        &::before{
            content: "<h2>";
            font-family: La Belle Aurore;
            color: #FFEBC1;
            font-size: 18px;
            top: 55%;
            left: 7.7%;
            position: absolute;
            margin-top: 0;
            opacity: 0.6;
        }

        &::after{
            content: "<h2/>";
            font-family: La Belle Aurore;
            color: #FFEBC1;
            font-size: 18px;
            position: absolute;
            margin-top: 15px;
            margin-left: 10px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
        }
    }

    .contact-me{
        width: 100%;
        margin-left: 9%;
        color: rgb(255, 255, 255);
        margin-top: 15px;
        font-weight: 500;
        font-family: sans-serif;
        text-align: center;
        letter-spacing: 1px;
        animation: fadeIn 1.8s backwards;

        h3{
            font-size: 17px;
          }

        h3{
            font-size: 15px;
        }
        p{
            font-size: 13px;
        }
      }

      

    .flat-button {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #FFEBC1;
        margin-top: 25px;
        margin-left: 9%;
        float: left;
        margin-left: 50%;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: 8px;
    
        &:hover {
          background: #FFEBC1;
          color: #8E3200;
        }
    }

}