// src/components/Home/index.scss
.home-page {
  .flex-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  .text-zone {
    flex: 1;
    h1 {
      font-size: clamp(40px, 8vw, 65px);
      color: #fff;
      font-family: "Coolvetica";

      img {
        width: 45px;
        margin: 0 10px;
      }
    }

    .job-title {
      color: #ffebc1;
    }

    .sub-heading {
      color: #8d8d8d;
      letter-spacing: 3px;
      font-size: 1.1rem;
      margin: 20px 0;
    }

    .tech-list {
      list-style: none;
      padding: 0;
      li {
        font-family: "Courier New", monospace;
        color: #00f0a0; // Emerald Green
        font-size: 14px;
        margin: 5px 0;
        span {
          opacity: 0.5;
          margin-right: 10px;
        }
      }
    }
  }

  .logo-zone {
    flex: 1;
    display: flex;
    justify-content: center;
    @media (max-width: 992px) {
      height: 300px;
      width: 100%;
    }
  }

  .flat-button {
    color: #ffebc1;
    font-size: 13px;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid #ffebc1;
    display: inline-block;
    margin-top: 30px;
    transition: 0.3s;
    &:hover {
      background: #ffebc1;
      color: #0b0e14;
      box-shadow: 0 0 15px #ffebc1;
    }
  }
}
