// src/components/Sidebar/index.scss
.nav-bar {
  background: rgba(11, 14, 20, 0.8);
  backdrop-filter: blur(10px);
  width: 60px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-right: 1px solid rgba(255, 235, 193, 0.1);

  @media (max-width: 768px) {
    width: 100%;
    height: 65px;
    bottom: 0;
    top: auto;
    flex-direction: row;
    padding: 0 20px;
    border-right: none;
    border-top: 1px solid rgba(255, 235, 193, 0.1);
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (max-width: 768px) {
      flex-direction: row;
      flex: 1;
      justify-content: space-around;
    }

    a {
      font-size: 22px;
      color: #4d4d4e;
      transition: 0.3s;

      &.active {
        color: #ffebc1;
      }
      &:hover {
        color: #fff;
        transform: scale(1.1);
      }
    }
  }

  .logo img {
    width: 35px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .socials {
    list-style: none;
    padding: 20px 0;
    @media (max-width: 768px) {
      display: none;
    }

    a {
      color: #4d4d4e;
      font-size: 18px;
      &:hover {
        color: #ffebc1;
      }
    }
  }
}
